html, body, #root {
    height: 100%; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  body {
    background-image: url('https://images.unsplash.com/photo-1565739424659-043ba492dd73?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8NzIwfHx8ZW58MHx8fHx8');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.product-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 40px);
    margin: 0;
    padding: 20px 0;
    box-sizing: border-box;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: strech;
    width: 100%;
    margin: 0;
    padding: 20px 0;
}

.product-card {
    width: 50%;
    height: 50%;
    margin-top: 60px;
    box-shadow: 0px 2px 4px rgb(34, 61, 84);
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    
}

.product-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 5px;
    object-fit: 20%;
}

.search-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 768px) {
    .product-card {
        flex-basis: calc(50% - 20%);
}
}

@media (max-width: 576px) {
    .product-card {
        flex-basis: calc(100% - 20%);
    }     
}

        
  



